.sideBar {
  width: 70px;
  height: 100vh;
  text-align: center;
  background: linear-gradient(#ff5000ba, #fa72aa);
  padding: 5px 0;
  .barsIconContainer {
    margin-top: -15px;
    margin-bottom: 60px;
  }
}
