.searchBar {
  margin-bottom: 40px;
  input {
    padding: 10px 10px;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: #d3d3d366;
    width: calc(100% - 20px);
  }
  button {
    padding: 10px;
    margin-left: 20px;
    /* background: linear-gradient(to right, #d94a4a, transparent); */
    background: linear-gradient(to right, #ff5000ba, #fa72aa);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  .searchInputContainer {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 250px;
  }
  .searchButton {
    position: absolute;
    right: 10px;
    top: 0;
    background: none;
    img {
      width: 15px;
    }
  }
}
