.contactPage {
  margin-top: 50px;
  .contactPage__Content {
    width: 85%;
    margin: auto;
  }
  .contactPage__Content-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

@media (max-width: 1400px) {
  .contactPage {
    .contactPage__Content-bottom {
      flex-direction: column;
      grid-gap: 30px;
    }
  }
}

@media (max-width: 992px) {
  .contactPage {
    .contactPage__Content {
      width: 100%;
      padding: 0 20px;
    }
  }
}
