.Modal {
  background-color: #e7cfcff2;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 500px;
  margin: auto;
  max-width: calc(100% - 20px);
  border-radius: 5px;
  transition: transform 300ms ease-out;
  z-index: 100;
  max-height: calc(100% - 20px);
  overflow: auto;
  h1,
  button {
    text-align: center;
  }
  .modal_actions {
    text-align: center;
    button {
      padding: 10px;
      border-radius: 8px;
      font-weight: bold;
      cursor: pointer;
      margin: 0 5px;
      color: black;
    }
    .Success {
      background-color: lightgreen;
      border: 1px solid green;
    }
    .Danger {
      background-color: salmon;
      border: 1px solid red;
    }
  }
}
.backdrop {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  min-height: 100vh;
  height: 100%;
  background-color: #8080808f;
  z-index: 50;
}
