.contactDetails {
  background: #f1f1f1;
  padding: 30px;
  width: 35%;
  word-break: break-word;
  .details-top {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 50px;
    .details-top-name_round {
      font-size: 25px;
      background-color: orange;
      margin-bottom: 15px;
      height: 80px;
      width: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
    }
    .details-top-name {
      font-size: 20px;
      font-weight: 400;
      font-weight: 500;
    }
  }
  .details-bottom {
    table {
      margin: auto;
      th {
        color: #a9a4a4;
        min-width: 150px;
      }
      th,
      td {
        padding: 10px 5px;
        text-align: start;
        vertical-align: top;
      }
    }
  }
}

@media (max-width: 1400px) {
  .contactDetails {
    width: 60%;
    margin: auto;
    margin-bottom: 50px;
  }
}
